@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .taikhoan {
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    min-height: 400px;
    width: 90%;
}

span#or-text {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-style: italic;
    background-color: #fff;
    z-index: 1;
    display: block;
}

.login {
    float: left;
    width: 40%;
}

.register {
    float: right;
    width: 40%;
}

.clear {
    clear: both;
    height: 1px;
}

.taikhoan label {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.taikhoan input[type="text"],
.taikhoan input[type="password"],
.taikhoan input[type="phone"],
.taikhoan input[type="email"] {
    padding: 9px;
    background-color: #fff;
    color: #444;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1em;
    border: 1px solid #ccc;
    width: 96%;
    margin-bottom: 20px;
}

.taikhoan label .required {
    color: red;
    margin-left: 3px;
}

.container {
    margin: 0 auto;
    width: 99%;
    max-width: 1260px;
}

.taikhoan input[type="submit"] {
    padding: 9px;
    background-color: #333;
    color: #fff;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 400;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.taikhoan:before {
    border-right: 1px solid #ddd;
    height: 100%;
    position: absolute;
    content: ' ';
    right: 50%;
    top: 0;
}

.taikhoan h4 {
    text-align: center;
    margin: 20px 0 ;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.note {
    margin: 30px 0 0;
    font-size: 15px;
    font-weight: 400;
}

    .note p {
        margin-bottom: 5px;
        line-height: 1.4;
        margin-top: 5px;
    }

.rightinput {
    margin-left: 15px;
    font-weight: 400;
}

.taikhoan .alert-danger {
    width: 96%;
}

#loading-ico {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(../Assets/App/images/loading-ico.gif) 50% 50% no-repeat;
    display: none;
}

@@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

        .container:after, .container:before {
            display: table;
            content: " ";
        }

    .login, .register {
        width: 99%;
        float: none;
        margin: auto;
    }

        .login .note {
            display: none;
        }

    span#or-text, .taikhoan:before {
        display: none;
    }

    .taikhoan input[type="submit"] {
        width: 200px;
    }
    .taikhoan h4 {
        text-align: left;
        margin-bottom: 25px;
    }
}


</style>
<div class="taikhoan">
    <span id="or-text">Or</span>
    <div class="login">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Đăng nhập</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label for="UserName">Tên đăng nhập hoặc email<span class="required">*</span></label>
            <input asp-for="Input.Email" class="form-control" required="true">
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <label for="Password">Mật khẩu<span class="required">*</span></label>
            <input asp-for="Input.Password" class="form-control" type="password" required="true">
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <br />
            <input type="submit" value="Đăng nhập">
        </form>

            <span class="rightinput"><a id="forgot-password" asp-page="./ForgotPassword" title="Quên mật khẩu">Quên mật khẩu?</a></span>
            <span class="rightinput"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" title="Quên mật khẩu">Đăng kí?</a></span>
        <div class="social-network">
            <div class="social-network-content">
                <div class="social-network-line"></div>
                <span class="social-network-title">HOẶC</span>
                <div class="social-network-line"></div>
            </div>
        </div>

        <div class="clear"></div>
        <div class="note">
            <p>Nếu Quý khách có vấn đề gì thắc mắc hoặc cần hỗ trợ gì thêm có thể liên hệ:</p>
            <ul>
                <li><a href="tel:0376810024" title="Hotline" target="_blank">Hotline: 0376810024</a></li>
                <li>
                    <a href="https://www.facebook.com/trung2701" title="Facebook" target="_blank">
                        Hoặc
                        Inbox Facebook
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="register">

        <section>
        <h3>Đăng nhập bằng dịch vụ ngoài.</h3>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        Không hỗ trợ
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="social-network-btn">
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                        <button type="submit" class="social-buttton" name="provider" value="@provider.Name">
                                            @if (provider.Name.ToLower() == "facebook")
                                            {
                                                 <div class="social-white-background social-white-fb-blue-png"></div>
                                            }
                                            @if (provider.Name.ToLower() == "google")
                                            {
                                                <div class="social-white-background social-white-google-png"></div>
                                            }
                                        @provider.DisplayName
                                        </button>

                                           
                            }
                        </p>
                    </div>
                </form>
            }
        }
        </section>
        <div class="clear"></div>
        <div class="note">
            <p>
                Thông tin cá nhân của bạn sẽ được dùng để điền vào hóa đơn, giúp bạn thanh toán nhanh chóng và dễ
                dàng
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
