@using FourLeafCloverShoe.Share.ViewModels;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<UserViewModel>




@{
    ViewBag.Title = "Danh sách";
    ViewBag.pTitle = "Người dùng";
    ViewBag.pTitleLink = "User";

}


@Html.Partial("~/Areas/Admin/Shared/SuccessMessage.cshtml")
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-body">
                <div class="text-end p-sm-4 pb-sm-2">
                    <a asp-action="Create" class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Thêm mới </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="tb-sorting">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Chức vụ</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            stt++;
                                            <span>@stt</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.ProfilePicture != null && item.ProfilePicture.Length > 0)
                                        {
                                            <img class="user-avtar wid-45 rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(item.ProfilePicture))" />
                                        }
                                        else
                                        {
                                            <img class="user-avtar wid-45 rounded-circle" alt="profile" src="~/fileadmin/assets/images/user/avatar-1.jpg" />
                                        }
                                        @item.FullName
                                    </td>
                                    <td>@item.UserName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <span>@String.Join(", ",item.Roles)</span>
                                    </td>
                                    <td>
                                        @if (item.EmailConfirmed)
                                        {
                                            @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                            {
                                                <span class="badge rounded-pill text-bg-primary">Hoạt động</span>

                                            }
                                            else
                                            {
                                                <span class="badge rounded-pill text-bg-danger">Đã khoá</span>
                                            }
                                        }
                                        else
                                        {
                                            <span class="badge rounded-pill text-bg-warning">Chưa kích hoạt</span>
                                        }

                                        <div class="prod-action-links">
                                            <ul class="list-inline me-auto mb-0">
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <!-- Chỉ hiển thị nút sửa nếu không phải chính mình -->
                                                    @if (item.Id != User.FindFirstValue(ClaimTypes.NameIdentifier))
                                                    {
                                                        <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Cập nhật">
                                                            <a asp-action="Edit" asp-route-userId="@item.Id"
                                                               class="avtar avtar-xs btn-link-secondary btn-pc-default">
                                                                <i class="ti ti-edit-circle f-18"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                }

                                                @if (item.EmailConfirmed)
                                                {
                                                    @if ((item.LockoutEnd == null || item.LockoutEnd < DateTime.Now) && item.Id != User.FindFirstValue(ClaimTypes.NameIdentifier))
                                                    {
                                                        <!-- Chỉ hiển thị nút khoá nếu không phải chính mình -->
                                                        @if (User.IsInRole("Admin") || (User.IsInRole("Staff") && !UserManager.IsInRoleAsync(item, "Admin").Result))
                                                        {
                                                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Khoá tài khoản">
                                                                <a asp-action="LockUnlock" asp-route-userId="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                                    <i class="ti ti-lock" style="font-size: 20px"></i>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                    else if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now && item.Id != User.FindFirstValue(ClaimTypes.NameIdentifier))
                                                    {
                                                        <!-- Chỉ hiển thị nút mở khoá nếu không phải chính mình -->
                                                        @if (User.IsInRole("Admin") || (User.IsInRole("Staff") && !UserManager.IsInRoleAsync(item, "Admin").Result))
                                                        {
                                                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Mở khoá tài khoản">
                                                                <a asp-action="LockUnlock" asp-route-userId="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                                    <i class="ti ti-lock-open" style="font-size: 20px"></i>
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    <!-- Hiển thị nút gửi lại mail kích hoạt cho Admin -->
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Gửi lại mail kích hoạt">
                                                            <a asp-action="ResendMail" asp-route-userId="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                                <i class="fas fa-paper-plane" style="font-size: 20px"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>


