@model IEnumerable<FourLeafCloverShoe.Share.Models.Voucher>


@{
    ViewBag.Title = "Danh sách";
    ViewBag.pTitle = "Mã giảm giá";
    ViewBag.pTitleLink = "Voucher";

}


<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card table-card">
            <div class="card-body">
                <div class="text-end p-sm-4 pb-sm-2">
                    <a asp-action="Create" class="btn btn-primary"> <i class="ti ti-plus f-18"></i> Thêm mới </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover tbl-product" id="tb-sorting">
                        <thead>

                            <tr>
                                <th >STT</th>
                                <th >Mã</th>
                                <th >Đối tượng (mức rank)</th>
                                <th >Số lượng</th>
                                <th >Giá trị (% / vnđ)</th>
                                <th >Giảm từ </th>
                                <th>Tối đa</th>
                                <th >Hạn sử dụng</th>
                                <th >Trạng thái</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int stt = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            stt++;
                                            <span>@stt</span>
                                        }
                                    </td>
                                    <td>@item.VoucherCode</td>
                                    <td>@{
                                            var dt = item.UserVouchers.Select(c => c.Users.Ranks.Name).Distinct();
                                            <span>@String.Join(", ",dt)</span>
                                        }</td>
                                    <td>@item.Quantity</td>
                                    
                                        @{
                                            var value = "";
                                            if (item.VoucherType == 0)
                                            {
                                                value = item.VoucherValue?.ToString("N0") + "vnd";
                                            }
                                            else
                                            {
                                            value = item.VoucherValue?.ToString("0") + "%";

                                            }
                                        <td>@value</td>
                                        }
                                    
                                    <td>@item.MinimumOrderValue?.ToString("N0") vnd</td>
                                    <td>@item.MaximumOrderValue?.ToString("N0") vnd</td>
                                    <td>@item.StartDate?.ToString("HH:mm dd/MM/yyyy") - @item.EndDate?.ToString("HH:mm dd/MM/yyyy")</td>
                                    <td class="text-center">
                                        @if (item.Status ==1)
                                        {
                                            <span class="badge text-bg-primary">Hoạt động</span>
                                        }
                                        else
                                        {
                                            <span class="badge text-bg-danger">Ngừng hoạt động</span>
                                        }
                                        <div class="prod-action-links">
                                            <ul class="list-inline me-auto mb-0">
@*                                                <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Danh sách sản phẩm được áp dụng">
                                                    <a asp-action="ProductDetail" asp-route-productId="@item.Id"
                                                       class="avtar avtar-xs btn-link-secondary btn-pc-default">
                                                        <i class="ti ti-eye f-18"></i>
                                                    </a>
                                                </li>*@
                                                <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Chỉnh sửa">
                                                    <a asp-action="edit" asp-route-Id="@item.Id" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                        <i class="ti ti-edit-circle f-18"></i>
                                                    </a>
                                                </li>
                                                @* <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" title="Xoá">
                                                    <a asp-action="Delete" asp-route-Id="@item.Id" class="avtar avtar-xs btn-link-danger btn-pc-default">
                                                        <i class="ti ti-trash f-18"></i>
                                                    </a>
                                                </li> *@

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>


@Html.Partial("~/Areas/Admin/Shared/SuccessMessage.cshtml")